{% extends 'base.html' %}
{% block content %}
<script>
    window.onload=init;
    function init() {
        showhide(1);
    }
    function showhide(n) {
        var box = document.getElementById("navi");
        box.className="active";
    }
</script>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>

    <!-- Main content -->
    <section class="content">
    <div>
        <div class="box-body" >
            <h1 class="box-title">navi html page</h1>
        </div>
        <!-- /.box-body -->
        <!-- /.box-footer-->
      </div>

      <!-- Your Page Content Here -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}