<aside class="main-sidebar">    <!-- 左侧菜单栏 -->

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    <div style="height: 60px">

    </div>


      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" id="sidebar-menu">

        <li id="navi"><a href="{% url 'navi' %}"><i class="fa fa-link"></i> <span>站点导航</span></a></li>
{#        <li id="cmdb"><a href="{% url 'cmdb' %}"><i class="fa fa-database"></i> <span>资产管理</span></a></li>#}
{#        <li id="appconf"><a href="{% url 'appconf' %}"><i class="fa fa-outdent"></i> <span>应用管理</span></a></li>#}
{#        <li id="setup"><a href="{% url 'job_list' %}"><i class="fa fa-cogs"></i> <span>任务编排</span></a></li>#}
{#        <li><a href="#"><i class="fa fa-file-code-o"></i> <span>持续交付</span></a></li>#}
{#        <li id="monitor"><a href="{% url 'monitor' %}"><i class="fa fa-television"></i> <span>监控平台</span></a></li>#}
{#        <li><a href="#"><i class="fa fa-file-text-o"></i> <span>文件管理</span></a></li>#}
        <li id="accounts"><a href="{% url 'user_list' %}"><i class="fa fa-users"></i> <span>用户管理</span></a></li>
{#        <li id="config"><a href="{% url 'config' %}"><i class="fa fa fa-cog"></i> <span>系统配置</span></a></li>#}
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>